* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sections {
    display: flex;
}

.grassImage {
    display: flex;
    width: 600px; /* Sets the width of the element to 600 pixels */
    height: 100vh; /* Sets the height of the element to 100% of the viewport height */
    position: relative;
}

img.card-image {
    width: 100%; /* Ensure the image takes the full width of its container */
    height: 100%; /* Ensure the image takes the full height of its container */
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    position: absolute;
    z-index: -1;
}

ul {
    /* this removes the dots on the list items */
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.card-body {
    display: flex;
    justify-content: center; /* Center items horizontally */
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.6); 
}

.right-links {
    display: flex;
    align-items: center; /* Center items vertically */
}

.card-heading {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Center the text within its container */
}

.card-heading-image {
    height: 80px;
    width: auto; /* Adjust width as needed */
}

.bottomText {
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;
    text-align: center;
    padding: 10px;
}

/* Right Side */
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.headingPart1 {
    background-color: #FAF9F6;
    display: flex;
    justify-content: center;
    position: relative;
    height: calc(10rem + 100px);

}

.part1 {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 100px 80px 60px 40px;
}

.signUp {
    background-color: #FAF9F6;
    height: 100%;
    
}

.middle1 {/* Add padding for better visibility */
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.02), 0 12px 6px rgba(0, 0, 0, 0.08);
    padding: 20px 5px 10px 40px;
}

.alreadyAccount {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 40px;
    height: 100%;
    width: 100%;
}

.inputAccount {
    color: white;
    background: #596D48;
    border: #596D48;
    border-radius: 8px;
    padding: 8px 32px 8px 32px;
}

.logIn {
    padding-top: 25px;
    font-size: 15px;
    font-family: sans-serif;
}

.logIn a {
    text-decoration: none; /* Remove underline */
    color: #596D48; /* Change color to match the button */

}

.signUp .title {
    font-size: 20px;
    padding-bottom: 20px;
}

.user-details {
    display: flex;
}

.user-details .right-side {
    padding-left: 60px;
}


/* Selector for labels details */
label[for="details"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

input::placeholder {
    font-family: 'Courier New', Courier, monospace; /* Example font family */
    font-size: 10px; /* Example font size */
    color: gray; /* Example color */
    font-style: italic; /* Example font style */
}

input[type="password"]:invalid:focus,
input[type="password"]:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}

.input-box {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust the width of the input box */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    min-width: 25ch; /* Minimum width of 20 characters */
    width: 100%; /* Make the input take the full width of its container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
/* Style for focused input */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: 2px solid blue; /* Blue border on focus */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Subtle blue box-shadow */
    outline: none; /* Remove default outline */
}