* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sections {
    display: flex;
}

.grassImage {
    display: flex;
    width: 600px; 
    height: 100vh; 
    position: relative;
}

img.card-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    z-index: -1;
}

ul {
    
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.card-body {
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 10rem;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.6); 
}

.right-links {
    display: flex;
    align-items: center; 
}

.card-heading {
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

.card-heading-image {
    height: 80px;
    width: auto; 
}

.bottomText {
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;
    text-align: center;
    padding: 10px;
}


.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.headingPart1 {
    background-color: #FAF9F6;
    display: flex;
    justify-content: center;
    position: relative;
    height: calc(10rem + 100px);

}

.part1 {
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 100px 80px 60px 40px;
}

.signUp {
    background-color: #FAF9F6;
    height: 100%;
    
}

.middle1 {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.02), 0 12px 6px rgba(0, 0, 0, 0.08);
    padding: 20px 5px 10px 40px;
}

.alreadyAccount {
    display: flex;
    flex-direction: column;
    padding: 25px 0px 0px 40px;
    height: 100%;
    width: 100%;
}

.inputAccount {
    color: white;
    background: #596D48;
    border: #596D48;
    border-radius: 8px;
    padding: 8px 32px 8px 32px;
}

.logIn {
    padding-top: 25px;
    font-size: 15px;
    font-family: sans-serif;
}

.logIn a {
    text-decoration: none; 
    color: #596D48; 

}

.signUp .title {
    font-size: 20px;
    padding-bottom: 20px;
}

.user-details {
    display: flex;
}

.user-details .right-side {
    padding-left: 60px;
}



label[for="details"] {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

input::placeholder {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 10px; 
    color: gray; 
    font-style: italic; 
}

input[type="password"]:invalid:focus,
input[type="password"]:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}

.input-box {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%; 
}

input[type="text"],
input[type="email"],
input[type="password"] {
    min-width: 25ch; 
    width: 100%; 
    box-sizing: border-box; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: 2px solid blue; 
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); 
    outline: none; 
}